<form action=<%=url%> method="post">
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Title</label>
      <input type="text" class="form-control" name="title" id="titleInput" placeholder="Insert product title">
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">Price</label>
      <input type="number" class="form-control" name="price"id="priceInput" placeholder="Insert product price">
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">Thumbnail</label>
      <input type="text" class="form-control" name="thumbnail" id="thumbnailInput" placeholder="Insert product price">
    </div>
    <button type="submit" class="btn btn-primary"><%=button%></button>
</form>