<div class="container">
    
    <h1>New product</h1>

    {{>form url=url method=method buttonLabel=button }}

    <div class="listContainer container d-flex p-2 m-3 bg-light rounded border border-2" id="productsContainer">
        

    </div>
    <div class="mb-3 ">
        <a href="/productos" class="btn btn-secondary">See products list</a>
    </div>

    {{>chat }}

<script src="/js/main.js"></script>
