<nav class="navbar navbar-light bg-light">
    <div class="d-flex justify-content-between align-items-center">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Welcome {{user}}</span>
        </div>
        <form action="/logout" method="get" class="d-flex">
            <button class="btn btn-primary m-3 no-wrap" type="submit">Logout</button>
        </form>
    </div>
</nav>