<div class="container" >
    <div>
        <form action="/register" method="post">
            <label for="email" class="form-label" >Email</label>
            <input type="text" id="email"name="email"class=" form-control" required />
            <label for="password" class="form-label" >Password</label>
            <input type="password" id="password"name="password"class=" form-control" required />
            <label for="password_confirm" class="form-label" >Password confirmation</label>
            <input type="password" id="password_confirm"name="password_confirm"class=" form-control" required />
            <button class="btn btn-primary my-3" type="submit">Sign up</button>
        </form>
    </div>
        <span>Already have an account? </span><a href="/login">Login</a>
</div>