<div class="chatContainer" >
    <div class="d-flex flex-column overflow-auto rounded border border-2" id="chatMessages">
        
    </div>
    <div class="chatInput">
        <form action="" id="chatForm">
            <label for="email" class="form-label" >Email</label>
            <input type="text" id="email"name="email"class=" form-control" required>

            <label for="name" class="form-label" >Name</label>
            <input type="text" id="name"name="name"class=" form-control" required>

            <label for="lastName" class="form-label" >Last Name</label>
            <input type="text" id="lastName"name="lastName"class=" form-control" required>

            <label for="age" class="form-label" >Age</label>
            <input type="number" id="age"name="age"class=" form-control" required>

            <label for="nickname" class="form-label" >Nickname</label>
            <input type="text" id="nickname"name="nickname"class=" form-control" required>
            
            <label for="message" class="form-label">Message</label>
            <input type="text" id="message" name="message"class=" form-control" required>

            <button class="btn btn-primary my-3" type="submit">Send</button>
        </form>

    </div>
    </div>
        
    
</div>