<div class="container">
    <h1>New product</h1>

    {{>form url=url method=method buttonLabel=button }}

    <div class="mb-3 ">
        <a href="/productos" class="btn btn-secondary">See products list</a>
    </div>
    
</div>
